





*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* for remove highlight */

}

  li{
    list-style-type: none;
  }

  ::selection{
  	background:hsl(0,0%,100%)
  }




/* Slideshow */

.swiper-container {
    height: 500px;
}

/* Global */

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

  p{
    margin-bottom:10px;
  }

img{
  max-width:100%;
}

video {  
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
    display: none;
}


.height{
  height:100%;
}

.vh{
  height: 100vh
}

.margin-bottom{
	margin-bottom:7px;
}

.z{
  z-index:3;
}

  .zz{
    z-index:6;
  }

.flex-justify{
  display: flex;
  justify-content: center;
}


.flex-align{
  display: flex;
  align-items: center;
}

.clear{
  clear:both;
}

/* Display */

.hide{
  display: none;
}


/* Positioning */

.absolute{
  position: absolute;
}

.fixed{
  position: fixed;
}

  .right{
    float:right;
    text-align:right;
  }

  .top-left{
    top:0;left:0;
  }

  .top-right{
    top:0;right:0;
  }

  .bottom-right{
    bottom:0;right:0;
  }

  .bottom-left{
	 bottom:0;left:0;
  }

.center--h{
  top:0;
  left:50vw;
  /*margin-left:-87px; */
  transform: translateX(-50%);
}

/* Spacing */

.padding{
  padding:7px;
}

  .padding--medium{
    padding:28px;
  }

  .margin--medium{
    margin:28px;
  }


/* Typography */

.uppercase{
  text-transform: uppercase;
}

/* Nav */

li{
  cursor: pointer;
}



/* Mobile */

@media screen and (max-width:700px){

.desktop{display: none;}
.mobile{display: block;}

.padding--medium{
    padding:14px;
    }

video {  
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
}

.remoteVideo-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(45, 48, 53);
}

    
    


